body {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1F1F24;
    margin:0px;
    color:#EBF5EE;
}

b{
    font-weight: 650;
}

h1, h2, h3, h4, h5, h6, p, b{
    cursor: default;
}

p, ul, li{
    color: #C0C0C0;
    font-weight: 400;
}


/* ---------- HEADER ---------- */

header{
    background-color: #1F1F24;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 20px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    z-index: 1000;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease, padding 0.5s ease;
}

header.scrolled {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
    padding:15px 40px;
}

nav a{
    color:#EBF5EE;
    text-decoration: none;
    margin-right : 20px;
    font-size: larger;
}

header div.header-right {
    display: flex;
    align-items: center;
}

header div.header-right button {
    margin-left: 10px; 
    color: #EBF5EE;
    text-decoration: none;
    line-height: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3A42;
    border: 0px;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
}

header div.header-right button img {
    width: 28px; 
    height: 28px;
}

header div.header-right button.btn-orange {
  background: linear-gradient(to bottom right, #EF4765, #ff6404);
  border: 0;
  border-radius: 12px;
  width: auto;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gabarito', sans-serif;
  font-size: medium;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 20px;
}

header div.header-right button.btn-orange:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

header div.header-right button.btn-orange:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

header div.header-right button:not([disabled]):focus {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), -.15rem -.15rem 1rem rgba(255, 255, 255, 0.3), .15rem .15rem 1rem rgba(255, 255, 255, 0.3);
}

header div.header-right button:not([disabled]):hover {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), -.15rem -.15rem 1rem rgba(255, 255, 255, 0.3), .15rem .15rem 1rem rgba(255, 255, 255, 0.3);
}

/* ---------- MAIN ---------- */

main{
    margin:0% 10%;
}

/* ---------- HOME ---------- */

div#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

div#home div#homeImage,
div#home div#homeText {
    width: 50%;
    box-sizing: border-box;
}

div#home div#homeImage {
    padding: 80px 180px 120px 0px;
}

div#home div#homeImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    filter: drop-shadow(0 0 10px #ffffff);
}

div#home div#homeText {
    padding: 0px 0px 0px 30px;
}

div#home div#homeText h1 {
    font-size: 5rem;
    font-weight: 550;
    margin-bottom: 0px;
    background: linear-gradient(35deg, #ff5500, #ff7a33, #ff9655, #d580ff, #b366ff, #ff5500);
    background-size: 300% 300%;
    animation: gradientAnimation 35s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


div#home div#homeText h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0px;
}

div#home div#homeText p {
    font-size: 1.5rem;
    font-weight: 250;
    margin-top: 0px;
}

/* ---------- SECTIONS ---------- */

.sectionHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.sectionHeader h2 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}  

.sectionHeader hr {
    width: 1%;
    border: 1px solid #47474f;
    margin-top: 0px;
    transition: width 0.5s ease;
}

.sectionHeader hr.animate {
    width: 100%;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px 0px;
    width:100%;
}

.sectionContent h3{
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sectionContent p{
    font-size: 1.2em;
    font-weight: 150;
    margin-top: 5px;
    margin-bottom : 30px;
    margin-left: 30px;
    line-height: 1.35;
}

.sectionContent ul {
    font-size: 1.2em;
    font-weight: 150;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    line-height: 1.5;
    list-style-type: none;
}

.sectionContent ul li{
    margin-top: 5px;
    margin-bottom : 5px;
}

.sectionContent ul li:first-child {
    margin-top: 0;
}
.noMarginBottom {
    margin-bottom: 0 !important;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom : 75px;
}

/* ---------- CARTES DES LANGAGES ---------- */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: calc(100% - 60px); /* 30px de marge de chaque côté */
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
}

.card {
    background-color: #2C2C34;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: scale 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(10% - 30px); /* Ajustez cette valeur selon le nombre de colonnes souhaité */
    max-width: calc(33.333% - 30px); /* Ajustez cette valeur selon le nombre de colonnes souhaité */
    height: 110px;
    box-sizing: border-box;
    ;
}

.card img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}

.card h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #EBF5EE;
    margin: 0;
}

.card:hover {
    scale:1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}