body {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: #2C2C34;
    margin : 0px;
}

header{
    background-color: #2C2C34;
    color: #F0F0F0;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 10px 30px 10px 30px;
}

nav a{
    color:#EBF5EE;
    text-decoration: none;
    margin-right : 20px;
    font-size: larger;
}

header div.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div.header-right div.reseaux a{
    color: #EBF5EE;
    text-decoration: none;
}



.btn-orange {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gabarito', sans-serif;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-orange:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-orange:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}