body {
    font-family: 'Gabarito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1F1F24;
    margin:0px;
    color:#EBF5EE;
}

b{
    font-weight: 650;
}

h1, h2, h3, h4, h5, h6, p, b{
    cursor: default;
}

h3.smallScreen {
    display: none !important;
}

p, ul, li{
    color: #C0C0C0;
    font-weight: 400;
}

div.splitted{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.splittedLeft{
    width: 65%;
}

div.splittedRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    margin-right:30px;
    box-sizing: border-box;
}


/* ---------- HEADER ---------- */

header {
    background-color: #1F1F24;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    height:55px;
    top: 0;
    left: 0;
    width: auto;
    z-index: 1000;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease, padding 0.5s ease, height 0.5s ease;
}

nav.smallScreen, div.header-left.smallScreen {
    display: none;
}

nav.bigScreen {
    display: flex;
    align-items: center;
    margin-left: -70px;
    transition: margin-left 0.5s ease;
}

nav.bigScreen a img {
    visibility: hidden;
    position: relative; 
    opacity: 0;
    width: auto;
    height: 50px;
    margin-right: 10px;
    transform: translateX(-70px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    cursor: default;
    pointer-events: none;
}


header.scrolled {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
    padding: 15px 40px;
    transition:height 0.5s ease, padding 0.5s ease, box-shadow 0.3s ease;
}

header.scrolled nav a img {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    cursor: pointer;
}


header.scrolled nav{
    margin-left: 0px;
}

nav.bigScreen a {
    color: #EBF5EE;
    text-decoration: none;
    margin-right: 20px;
    font-size: larger;
    transition: color 0.2s ease;
}

nav.bigScreen a:hover {
    color: #ff6404;
}

header:not(.scrolled) nav.bigScreen a img {
    visibility: visible;
    opacity: 0;
    transform: translateX(-100px); /* Translate encore plus à gauche */
}


header div.header-right.bigScreen {
    display: flex;
    align-items: center;
}

header div.header-right.bigScreen button {
    margin-left: 10px; 
    color: #EBF5EE;
    text-decoration: none;
    line-height: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3A42;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s ease-in-out;
}

header div.header-right.bigScreen button img {
    width: 28px; 
    height: 28px;
}

header div.header-right.bigScreen button.btn-icon{
    transition: box-shadow .2s ease-in-out;
}

header div.header-right.bigScreen button.btn-icon:hover{
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), -.15rem -.15rem 1rem rgba(255, 255, 255, 0.3), .15rem .15rem 1rem rgba(255, 255, 255, 0.3);
    transition: box-shadow .2s ease-in-out;
}

header div.header-right.bigScreen button.btn-orange {
  background: linear-gradient(to bottom right, #EF4765, #ff6404);
  border: 0;
  border-radius: 12px;
  width: auto;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gabarito', sans-serif;
  font-size: medium;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 20px;
}

header div.header-right.bigScreen button.btn-orange:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

header div.header-right.bigScreen button.btn-orange:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

header div.header-right.bigScreen button:not([disabled]):focus {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), -.15rem -.15rem 1rem rgba(255, 255, 255, 0.3), .15rem .15rem 1rem rgba(255, 255, 255, 0.3);
}

header div.header-right.bigScreen button:not([disabled]):hover {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3), -.15rem -.15rem 1rem rgba(255, 255, 255, 0.3), .15rem .15rem 1rem rgba(255, 255, 255, 0.3);
}

/* ---------- MAIN ---------- */

main{
    margin:0% 10%;
    transition : margin 0.5s ease;
}

/* ---------- HOME ---------- */

div#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

div#home div#homeImage,
div#home div#homeText {
    width: 50%;
    box-sizing: border-box;
}

div#home div#homeImage {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top : 50px;
    padding-left : 20px;
}

div#home div#homeImage img {
    width: 60%;
    transition: width 0.3s ease;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    filter: drop-shadow(0 0 10px #ffffff);
}

div#home div#homeText {
    padding: 0px 0px 0px 30px;
}

div#home div#homeText h1 {
    font-size: 5rem;
    font-weight: 550;
    margin-bottom: 0px;
    background: linear-gradient(35deg, #ff5500, #ff7a33, #ff9655, #d580ff, #b366ff, #ff5500);
    background-size: 300% 300%;
    animation: gradientAnimation 35s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.3s ease;

}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


div#home div#homeText h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0px;
    transition: font-size 0.3s ease;
}

div#home div#homeText h2.smallScreen {
    display: none;
}

div#home div#homeText p {
    font-size: 1.5rem;
    font-weight: 250;
    margin-top: 0px;
    transition: font-size 0.3s ease;

}
/* ---------- SECTIONS ---------- */

.sectionHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.sectionHeader h2 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}  

.sectionHeader hr {
    width: 1%;
    border: 1px solid #47474f;
    margin-top: 0px;
    transition: width 0.5s ease;
}

.sectionHeader hr.animate {
    width: 100%;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px 0px;
    width:100%;
}

.sectionContent h3{
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sectionContent p{
    font-size: 1.2em;
    font-weight: 150;
    margin-top: 5px;
    margin-bottom : 30px;
    margin-left: 30px;
    line-height: 1.35;
}

.sectionContent ul {
    font-size: 1.2em;
    font-weight: 150;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-left:35px;
    line-height: 1.5;
    list-style-type: none;
}

.sectionContent ul li{
    margin-top: 5px;
    margin-bottom : 5px;
}

.sectionContent ul li:first-child {
    margin-top: 0;
}
.noMarginBottom {
    margin-bottom: 0 !important;
}

.sectionContent div.formationContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    padding:0px 35px;
    margin-top : 5px;
}


.sectionContent div.iconOnLeft {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1 1 auto;
    background-color: #2C2C34;
    min-width:45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.sectionContent div.iconOnLeft img {
    width: 85px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    margin: 0 20px 0 10px;
}

.sectionContent div.iconOnLeft div.text {
    text-align: left;
}

.sectionContent div.iconOnLeft div.text h4 {
    font-size: 1.8em; /* Taille plus grande pour le h4 */
    font-weight: 450;
    margin: 0;
    margin-bottom: 5px;
}

.sectionContent div.iconOnLeft div.text p {
    font-size: 1em; /* Taille plus petite pour les p */
    margin: 0px;
    color: #C0C0C0;
}

.sectionContent hr{
    width: 50%;
    border: 1px solid #47474f;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5px;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom : 75px;
}

/* ---------- CARTES DES LANGAGES ---------- */

.splittedLeft p {
    font-weight: 400;
    margin : 0px 0px 0px 30px;
}

.sortButtons {
    display: flex;
    align-items: center;
}

.btn-sort{
    padding:5px 10px;
    border-radius : 0px;
    font-family: 'Gabarito', sans-serif;
    font-size: 0.9em;
    background: #3A3A42;
    color: #EBF5EE;
    border: none;
    cursor: pointer;
}

.btn-sort:first-of-type{
    border-radius: 10px 0px 0px 10px;
}

.btn-sort:last-of-type{
    border-radius: 0px 10px 10px 0px;
}

.btn-sort.toggled {
    background-color: #3A3A42;
    background: linear-gradient(to bottom right, #EF4765, #ff6404);
    color: #FFFFFF;
    border: none;
    box-shadow: 0 0 10px rgba(255, 100, 4, 0.5);
}

.btn-sort img{
    width: 30px;
    height: 30px;
    filter:invert(1);
}

.skillCardsContainer h3{
    margin-left : 30px;
    font-size: 1.5em;
}

.skillCardsContainer hr{
    margin : 10px 0px 5px 30px;
    width: calc(100% - 60px);
}

.skillCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: calc(100% - 60px); 
    margin: 0 auto;
    padding: 10px 0px 30px 0px;
    box-sizing: border-box;
}

.skillCard {
    background-color: #2C2C34;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: scale 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 auto;
    height: auto;
    box-sizing: border-box;
    width: 120px !important;
    max-width: 35%;
    text-decoration: none;
}

.skillCard img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
    max-width: 100%; 
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.319));
}

.skillCard h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #EBF5EE;
    margin: 0;
    cursor:pointer;
    text-align: center;
}

.skillCard hr{
    width: 80%;
    border: 1px solid #424242;
    margin: 10px 0px 2px 0px;
}

.skillCard p{
    margin : 0px;
}

.skillCard i {
    font-size: 14px; 
    margin-right: 2px;
}

.skillCard i:last-child {
    margin-right: 0;
}


.skillCard:hover {
    scale: 1.1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* ---------- PROJETS ---------- */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    display:flex;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2C2C34;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: auto; 
    overflow: hidden; 
    transition: transform 0.3s ease, height 0.3s ease;
    justify-content: center;
}



.project-card h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.project-card p {
    margin-left: 0;
    cursor: pointer;
    text-align: center;
}

.project-card p.date {
    margin: 0px;
    font-size: 0.9em;
    font-style: italic;
    color: #C0C0C0;
    align-self: center;
    justify-self: end;
}

.project-card p.dateOnLeft {
    margin: 0px;
    font-size: 0.9em;
    font-style: italic;
    color: #C0C0C0;
    align-self: start;
}

.project-card p.desc {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.1em;
    font-weight: 150;
    line-height: 1.2;
}

.project-card.active .card-content {
    filter: blur(5px);
    transition: filter 0.3s ease, height 0.3s ease;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    transition: filter 0.3s ease, height 0.3s ease;
    gap:10px;
}

.project-card.in-progress {
    box-shadow: inset 0 0 10px rgba(255, 165, 0, 0.5);
    animation: lightGlow 5s infinite alternate;
    position: relative;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 0, 0.1),
        rgba(255, 255, 0, 0.1) 20px,
        rgba(255, 255, 0, 0.05) 20px,
        rgba(255, 255, 0, 0.05) 40px
    );
    overflow: hidden;
}

@keyframes lightGlow {
    from {
        box-shadow: inset 0 0 15px rgba(255, 165, 0, 0.5);
    }
    to {
        box-shadow: inset 0 0 30px rgba(255, 165, 0, 0.8);
    }
}

.card-content img {
    height:70px;
    width: auto;
    object-fit: cover;
    margin-bottom: 0px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    cursor: pointer;
}

.card-image-wrapper {
    flex-shrink: 1;
}

.card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.project-card:hover {
    transform: scale(1.05);
    z-index: 5;
    cursor: pointer;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1; 
    cursor: default;
}

.card-overlay h4 {
    margin: 0;
    align-self: flex-start;
    color: #EBF5EE;
    text-align: left;
    font-size: 1.3em;
}

.card-overlay a.btn{
    margin-top:10px;
    background: linear-gradient(to bottom right, #EF4765, #ff6404);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Gabarito', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    text-decoration: none;
    align-self:flex-start;
    width:auto;
}

.card-overlay a.btn:hover {
    box-shadow: 0 0 10px rgba(255, 100, 4, 0.5);
}

.card-details p {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 100%;
    text-align: left;
    cursor: default;
}

.card-details {
    flex: 1 1 60%; 
    color: #EBF5EE;
    text-align: left;
    display: flex;
    align-items: center; 
    justify-content: left;
}

.footer-text {
    margin-top: 20px;
    margin-bottom: 0px !important;
    font-size: 0.9em !important;
    text-align: left !important;
}

.project-card.active .card-overlay {
    opacity: 1;
    visibility: visible;
}




/* ---------- SECTION CONTACT ---------- */
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0px;
}

.contact-form {
    flex: 0 0 60%;
    box-sizing: border-box;
}

.contact-form h3 {
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top:5px;
}

.contact-form p{
    font-size: 1.1em;
    font-weight: 150;
    margin-top: 5px;
    margin-bottom : 20px;
    margin-left: 35px;
    line-height: 1.35;

}

.contact-image {
    flex: 0 0 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.contact-image img {
    max-width: 75%;
    transition: max-width 0.3s ease;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    filter: drop-shadow(0 0 10px #ffffff);
}

/* ---------- FORMULAIRE DE CONTACT ---------- */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-left: 35px;
    box-sizing: border-box;
}

#contact-form label {
    font-size: 1.2em;
    color: #EBF5EE;
    margin-bottom: -5px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    font-size: 1em;
    color: #EBF5EE;
    background-color: #2C2C34;
    border: 1px solid #47474f;
    border-radius: 5px;
    box-sizing: border-box;
    width: 90%;
}

#contact-form textarea {
    resize: vertical;
    min-height: 100px}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #ff6404;
    font-family: 'Gabarito', sans-serif;
}

#contact-form button {
    align-self: flex-start;
    background: linear-gradient(to bottom right, #EF4765, #ff6404);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Gabarito', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

#contact-form button:hover {
    box-shadow: 0 0 10px rgba(255, 100, 4, 0.5);
}

/* ---------- FOOTER ---------- */
#footer {
    background-color: #2C2C34;
    color: #EBF5EE;
    padding: 20px 5%;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.back-to-top {
    color: #ff6404;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-top:hover {
    color: #EF4765;
}



/* ---------- HAMBURGER MENU ---------- */
.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #EBF5EE; 
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* ---------- OVERLAY MENU ---------- */
.overlay-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    background: rgba(17, 17, 17, 0.771);
    box-shadow: 0 8px 32px 0 rgba(21, 21, 21, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(-20px);
    padding: 15px;
}

.overlay-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.overlay-content a {
    color: #EBF5EE;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 8px 0;
    transition: color 0.3s ease;
}

.overlay-content a:hover {
    color: #ff6404;
}

.overlay-content hr {
    width: 50%;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #444;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 15px;
}

.btn-icon {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    background-color: #3A3A42;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0 0 10px rgba(43, 43, 43, 0.5);
}

.btn-icon img {
    width: 24px;
    height: 24px;
}

.github-btn {
    background-color: #333;
}

.linkedin-btn {
    background-color: #0077b5;
}

.menu-grid .btn-orange {
    grid-column: span 2;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(to bottom right, #EF4765, #ff6404);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(255, 100, 4, 0.5);
}

/* ---------- RESPONSIVE ---------- */

@media screen and (max-width:1000px) {
    div#home div#homeImage img{
        width:80%;
    }

    .contact-image img {
        max-width: 100%;
        transition: max-width 0.3s ease;
    }

    .contact-image {
        width: 25%;
    }

    .contact-form {
        width: 75%;
    }
    
}

@media screen and (max-width: 890px) {
    h3.smallScreen{
        display: block !important;
        margin-left: 35px;
        margin-right:35px;
    }

    h3.bigScreen{
        display: none !important;
    }

    .sectionContent p, .contact-form p{
        margin: 5px 35px 20px 35px;
    }

    div.contact-form{
        padding-right : 35px;
    }

    #contact-form input,
    #contact-form textarea {
        width: 100%;
    }

    header nav.bigScreen, header div.header-right.bigScreen {
        display: none;
    }

    header nav.smallScreen, header div.header-left.smallScreen {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    header div.header-left.smallScreen a {
        font-weight: 450;
        font-size: 2em;
        margin: 10px;
        text-decoration: none;
        color: #EBF5EE;
        
    }

    header:not(.scrolled) div a{
        transform: scale(1);
        transform-origin: left;
        transition: transform 0.5s ease;
    }

    header{
        transition: height 0.5s ease, padding 0.5s ease;
    }

    header.scrolled {
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
        padding: 15px 15px;
        height:30px;
        transition:height 0.5s ease, padding 0.5s ease;
    }

    header.scrolled div.header-left.smallScreen a {
        transform:scale(0.8);
        transform-origin: left;
        transition: transform 0.5s ease;   
    }

    header.scrolled nav.smallScreen button#menu-toggle{
        transform : scale(0.8);
        transition: transform 0.5s ease;
        transform-origin: (right);
    }

    header:not(scrolled) nav.smallScreen button#menu-toggle{
        transform : scale(1);
        transition: transform 0.5s ease;
        transform-origin: (right);
    }

    div#home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div#home div#homeImage {
        flex-shrink: 1;
    }

    div#home div#homeImage img {
        padding: 0px;
    }

    div#home div#homeText {
        padding-left:0px;
        flex-shrink: 0;
        flex-basis: 50%;
        max-width: 80%;
        transition: flex-basis 0.3s ease, max-width 0.3s ease;
    }

    .contact-content {
        flex-direction: column;
        gap: 20px;
    }

    .contact-content .contact-form{
        width: 100%;
    }

    .contact-image{
        display: none;
    }

    .skillCards {
        gap: 15px; 
        padding-top:15px;
    }

    .skillCard {
        transition: none;
        flex: 1 1 30%;
        max-width: 100%; 
        min-width: 100px;
        width: auto;
    }

    .skillCard p{
        margin: 0px;
    }
    .skillCard:hover {
        scale: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    div.card-details p, div.card-overlay p{
        margin-left: 0px;
    }

    div.splitted{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    div.splittedRight{
        width:fit-content;
        justify-content: center;
        margin:0px;
    }

    div.splittedRight p{
        margin:0px 10px 0px 0px;
    }

    div.splittedLeft{
        width: 100%;
    }

}


@media screen and (max-width:800px){
    div#home div#homeText h1 {
        font-size: 4rem;
        transition: font-size 0.3s ease;
    }

    div#home div#homeText h2 {
        font-size: 1.65rem;
        transition: font-size 0.3s ease;
    }

    div#home div#homeText p {
        font-size: 1.4rem;
        transition: font-size 0.3s ease;
    }
    main{
        margin:0% 5%;
        transition : margin 0.5s ease;
    }
}

@media screen and (max-width:650px){
    div#home{
        flex-direction: column;
    }

    div#home div#homeImage{
        justify-content: center;
        align-items: center;
        height: auto;
        width: 50%;
    }

    div#home div#homeText{
        width:80%;
        text-align: center;
    }

    div#home div#homeText h2.smallScreen {
        display: block;
    }

    div#home div#homeText h2.bigScreen {
        display: none;
    }

    .sectionContent div.formationContainer{
        padding:0px;
    }

    .sectionContent div.iconOnLeft{
        padding: 10px;
    }

    .sectionContent div.iconOnLeft img{
        width:70px;
    }

    .sectionContent div.formationContainer div.iconOnLeft h4{
        font-size: 1.5em;
        margin-bottom : 0px;
    }

    .sectionContent div.formationContainer div.iconOnLeft p{
        font-size: 0.9em;
    }

    .sortButtons{
        margin-bottom:10px !important;
    }

    .skillCardsContainer h3{
        text-align: center;
        margin-left : 0px;
    }

    .skillCards{
        margin: 0px;
        width:100%;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        border-radius: 15px;
        background-color: #2C2C34;
        position: relative;
        max-height: auto;
        height:auto;
        gap: 10px;
        transition : transform 0.3s ease, height 0.3 ease;
    }

    .project-card.active{
        height:auto;
        transition : transform 0.3s ease, height 0.3 ease;
    }

    .card-image-wrapper {
        width: 65px;
        height: auto;
        flex-shrink: 0;
    }

    .card-image-wrapper img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .card-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 100%;
        margin-bottom: 0px;
    }

    .card-text-wrapper h3 {
        font-size: 1.2rem !important;
        font-weight: 500;
        margin: 0;
        text-align: left;
    }

    .card-text-wrapper p {
        font-size: 0.9rem !important;
        color: #C0C0C0;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left:0px;
        text-align: left;
    }

    .project-card h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .project-card .desc {
        margin-top: 10px; 
        margin-right:0px;
        font-size: 1rem;
        color: #C0C0C0;
    }

    .project-card .date {
        font-size: 0.8em !important;
        font-style: italic;
        color: #C0C0C0;
        margin:0px;
        text-align: left;
        width:100%;
    }

    .project-card .card-content {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: start;
        gap: 15px;
        width: 100%;
    }

    .project-card.in-progress {
        background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 0, 0.1),
            rgba(255, 255, 0, 0.1) 10px,
            rgba(255, 255, 0, 0.05) 10px,
            rgba(255, 255, 0, 0.05) 20px
        );
    }

    .project-card.active .card-overlay {
        display:flex;
    }

    .card-overlay {
        padding: 15px;
    }

    .card-overlay h4{
        font-size: 1.2rem !important;
    }

    .card-overlay p {
        font-size: 0.9rem !important;
        margin-bottom: 5px;
        margin-right:5px;
    }

    section{
        margin-bottom: 10∏px;
    }

}


@media (min-width:1920px){
    main{
        max-width:1920px;
        margin: 0 calc((100vw - 1920px) / 2 + 10%);
    }

    header {
        padding: 20px calc((100vw - 1920px) / 2 + 30px);
    }

    header.scrolled {
        padding: 15px calc((100vw - 1920px) / 2 + 40px);
    }

    .footer-content{
        max-width: 1920px;
        margin:auto;
    }
}